<% provide(:title, t(".title", default: "About")) %>
<% provide(:description, t(".description", default: "On this page you can find out, how debae works.")) %>

<section class="row">
  <div class="jumbotron">
    <h1><%= t(".headline", default: "Debate what's on your mind!") %></h1>
    <p>Bei debae kannst du sachliche Debatten anstoßen. Auch über kontroverse Themen. Aus welcher Kategorie deine Aussagen stammen, entscheidest du. Von Unterhaltung bis Politik ist alles erlaubt.</p>
  </div>
</section>

<section class="row">
  <div class="jumbotron">
    <h1>Bewertungen</h1>
    <p>Jede Aussage erhält eine Wertung (in %), die Anzeigt, wie stark die Argumente sind und wie viele Befürworter die Aussage hat.</p>
    <p>Eine Wertung über 50 % bedeutet dabei, dass die Pro-Argumente überwiegen und/oder die Mehrheit der Nutzer der Aussage zustimmen.</p>
  </div>
</section>

<section class="row">
  <div class="jumbotron">
    <h2>Du hast Fragen oder willst uns Feedback geben?</h2>
    <p><%= mail_to "info@debae.io" %></p>
  </div>
</section>
