.comment.card
  .card-body
    %h5.card-title
      = author_thumb_img(@statement, class: "rounded-circle avatar")
      = comment.user_or_mock.name
    %h6.card-subtitle.mb-2.text-muted
      = l(comment.created_at)
    %p.card-text
      = comment.body
