.comment.card
  .card-body
    %h5.card-title
      = image_tag @statement.user_or_mock.avatar.url(:thumb), class: "rounded-circle"
      = comment.user_or_mock.name
    %h6.card-subtitle.mb-2.text-muted
      = l(comment.created_at)
    %p.card-text
      = comment.body
