<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Statement
      </th>
      <th>
        Score
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @statements %>
  </tbody>
</table>

<%= will_paginate @statements %>
