<% argument = statement_argument_link.argument %>

<div class="argument">
  <%= render 'statement_argument_links/vote_button', link: statement_argument_link, is_pro_vote: true, existing_vote: has_voted?(true, current_user, statement_argument_link) %>
  <%= render 'statement_argument_links/vote_button', link: statement_argument_link, is_pro_vote: false, existing_vote: has_voted?(false, current_user, statement_argument_link) %>
  <%= link_to argument.body, statement_path(argument) %>
</div>
