// This file contains styling for standard HTML tags. Note that not every
// all standard HTML tags get styled here necessarily.
ul {
  list-style-type: none; // Don't use any bullets or stuff for <li>'s
}

body {
  background-color: white;
}

.secondary {
  color: #F7F7F7;
}

// section {
//   margin: 40px 0px;
// }
