@import "./_mixins_and_variables";

.btn {
  // background-color: $blue;
  // border: 0;
  // font-size: 20px;

  &.vote {
    background-color: Transparent;
    border: 0;
    font-size: 30px;
    color: black;

    &.pressed {
      $pressed_color: #CCCCCC;
      color: $pressed_color;

      &:hover {
        color: darken($pressed_color, 30%);
      }
    }

    &:hover {
      color: lighten(#384347, 30%);
    }
  }

  &.aggreement-vote {
    width: 130px;
    height: 40px;
    // background-color: yellow;
    @include flex(row);
    justify-content: center;
    align-items: center;

    // font-weight: bold;

    i {
      font-size: 20px;
    }

    &.aggree {
      // background-color: $green;

      i {
        color: $green;
      }

      &.pressed {
        background-color: $anth;
        border: none;
      }
    }

    &.disaggree {
      // background-color: ;

      i {
        color: $red;
      }

      &.pressed {
        background-color: $anth;
        border: none;
      }
    }
  }
}
