.comment {
  .author {
    @include flex(row);

    .left {
      // background-color: yellow;
      flex: 1;
    }

    .right {

      @include flex(row);

      // background-color: red;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}

.comments-form-container {
  // background-color:red;
  margin-bottom: 20px;
}

.comments-container {
  background-color: white;
  border: 1px solid #DCE0DD;
  border-radius: 5px;
  padding: 30px;

  width: 100%;

  & > *:not(:last-child) {
    margin-bottom: 15px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
