@import "./_mixins_and_variables";

.container {
  &.main {
    max-width: $content-max-width;
  }
}

section.row {
  // background-color: red;
  margin-bottom: 20px;

  .jumbotron {
    margin-bottom: 0;
  }
}

.topper {
  text-align: center;
}
