@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Oswald:400,300,700|Passion+One:400,700,900|Lobster);

.logo {
  // font-family: 'Lora', serif;
  font-family: 'Oswald', sans-serif;
  // font-family: 'Passion One', cursive;
  // font-family: 'Lobster', cursive;

  font-size: 50px;

  a {
    text-decoration: none;
    color: inherit;
  }
}
