nav.navbar {
  background-color: rgba(132, 255, 0, 1);
  background: -webkit-linear-gradient(top, rgba(191, 255, 0, 1) 0%, rgba(132, 255, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(191, 255, 0, 1) 0%, rgba(132, 255, 0, 1) 100%);

  ul.nav > li.active > a, ul.nav > li > a:focus {
    background-color: rgba(199, 255, 102, 1);
    background: -webkit-linear-gradient(top, rgba(168, 255, 110, 1) 0%, rgba(199, 255, 102, 1) 100%);
    background: linear-gradient(to bottom, rgba(168, 255, 110, 1) 0%, rgba(199, 255, 102, 1) 100%);
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #4c574c;
  }
}
