@import "./_mixins_and_variables";

$color: lighten($honey_dew, 48%);

.statement-history {
  @include flex(row);
  align-items: center;

  background-color: #DEE8D5;
  color: black;
  padding: 3px;
  position: relative;
  overflow-y: hidden;
}

.historical-link {
  position: relative;
  white-space: nowrap;
  margin: 0px 5px;
  background-color: #fbfcfa;
  padding: 10px 5px;
  border-radius: 2px;
}
