@import "./_mixins_and_variables";

.statement-argument-link {
  @include flex(row);
  align-items: center;
  
  background-color: #fbfcfa;
  border-radius: 3px;
  padding: 10px;
  text-align: left;

  .actions {
    @include flex(column);
    align-items: center;
    width: 40px;
  }

  .body {
    flex: 1;
    position: relative; // Required to make the whole div a link. Learn more at .link-expander
    padding: 5px;
  }

  .score {
    @include flex(column);
    align-items: center;
    justify-content: center;

    .amount {
      font-size: 20px;
    }
  }
}
