// @import "./_mixins_and_variables";
//
// .statement-summary-container {
//   padding: 10px;
//
//   .content {
//     // @include flex(column);
//
//     & > *:not(:last-child) {
//       margin-bottom: 15px;
//     }
//
//     .author {
//       @include flex(row);
//       // justify-content: center;
//       align-items: center;
//       // color: #00FF44;
//
//       // border-bottom: 1px solid #DCE0DD;
//     }
//
//     .statement {
//       font-style: bold;
//     }
//
//     .score {
//       @include flex(row);
//       justify-content: flex-end;
//     }
//   }
//
//   .statement-summary {
//     position: relative;
//   }
// }
//
// .index-headline {
//   text-align: center;
// }

// .statement-actions {
//   display: flex;
//   flex-direction: row;
//   // background-color: red;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//
//   .left {
//     flex: 1;
//     text-align: right;
//     // flex-basis: 100%;
//     // background-color: red;
//     // min-width: 100px;
//     // flex-grow: 0;
//     // flex-shrink: 1;
//     // order: 1;
//     // margin: 10px 0px;
//   }
//
//   .middle {
//     // order: 2;
//     // flex-basis: 200px;
//     // flex-grow: 0;
//     // flex-shrink: 1;
//   }
//
//   .right {
//     // background-color: green;
//     flex: 1;
//     // flex-basis: 0%;
//     // order: 3;
//     // flex-grow: 1;
//     // flex-shrink: 1;
//     // min-width: 100px;
//     // margin: 10px 0px;
//   }
//
//   & > * {
//     margin: 10px 10px;
//   }
//
//   .score-circle-container {
//     $side_length: 90px;
//     width: $side_length;
//     height: $side_length;
//     font-size: 14px;
//   }
//
// }

.arguments-container {
  background-color: white;
  border: 1px solid #DCE0DD;
  border-radius: 5px;
  padding: 20px;
  text-align: center;

  ul > * {
    margin: 30px 0px;
  }

  margin-bottom: 10px;
}

// .statement-header {
//   padding-bottom: 0px;
//
//   .headline {
//     margin-bottom: 20px;
//
//     h2 {
//       margin: 0;
//     }
//   }
//
//   .author {
//     @include flex(row);
//     background-color: #fbfcfa;
//     padding: 5px;
//     border-radius: 5px;
//     margin-bottom: 10px;
//     border: 1px solid #DCE0DD;
//
//     .avatar-container {
//       // background-color: red;
//
//       // .avat
//     }
//
//     .information {
//       flex: 1;
//       // background-color: blue;
//     }
//   }
// }
.statement {
  // width: 100%;

  .author {
    font-size: 80%;
    color: #868e96;

    .avatar {
      height: 35px;
    }

    .quote-dash {
      &::before {
        content: "\2014 \00A0";
      }

      margin-left: 20px;
    }

    .avatar-container {
      margin-left: 2px;
      margin-right: 7px;
    }
  }

  .meta {
    font-size: 80%;
    color: #868e96;
  }

  .cta-section {
    padding: 10px;

    div {
      margin: 3px;
    }
  }
}
