.statement-argument-link {
  background-color: #fbfcfa;
  margin: 10px;

  .argument-showcase-section {
    width: 100%;
    position: relative;
  }

  .argument-body {
    padding: 3px;
  }

  .total-score {
    font-size: 0.7em;

    .label {
      padding-left: 3px;
      padding-right: 3px;
    }
  }
}
