@import "./_mixins_and_variables";

$color: lighten($honey_dew, 48%);

.sub-header {
  @include flex(row);
  align-items: center;

  background-color: rgba(black, .03);
  color: black;
  padding: 3px;
  position: relative;
  height: 40px;
  // border-bottom: 1px solid #636363;

  a {
    color: $color;
  }
}
