@import "./_mixins_and_variables";

.turbolinks-progress-bar {
  background-color: #00AAFF;
  background-color: rgba(#008CFF, .8);
  height: 3px;

  -webkit-box-shadow: -4px 0px 17px 0px rgba(0,213,255,1);
  -moz-box-shadow: -4px 0px 17px 0px rgba(0,213,255,1);
  box-shadow: -4px 0px 17px 0px rgba(0,213,255,1);
}
