// .secondary {
//   color: #ADADAD;
//   font-size: 80%;
// }
//
// .break-word {
//   /* These are technically the same, but use both */
//   overflow-wrap: break-word;
//   word-wrap: break-word;
//
//   -ms-word-break: break-all;
//   /* This is the dangerous one in WebKit, as it breaks things wherever */
//   word-break: break-all;
//   /* Instead use this non-standard one: */
//   word-break: break-word;
//
//   /* Adds a hyphen where the word breaks, if supported (No Blink) */
//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

.rounded-top-left-bottom-right {
  border-top-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.rounded-bottom-right {
  border-bottom-right-radius: 0.25rem !important;
}

.elevate {
  &:hover {
    box-shadow: 0px 0px 5px 1px $gray-300;
  }
}

.created_at {
  font-size: 0.7rem;
  color: $gray-700;
}
