$navbar-height: 60px;
$statement-chain-height: 40px;
$header-height: $navbar-height + $statement-chain-height;

$content-gap: 20px;

$honey-dew: #AAFF00;
$green: #00FF33;
$red: #FF0022;
$yellow: #FFFF00;
