<h2><%= t("mailers.devise.password_change.headline", username: @resource.name, default: "Hello %{username}!") %></h2>

<p><%= t("mailers.devise.password_change.body_html", root_link: link_to("debae", root_url), default: "We're contacting you to notify you that your password has been changed.") %></p>
