<footer>
  <div class="copyright">
    <%= fa_icon "copyright" %> 2016
  </div>
  <div class="links">
    <%= link_to t("layouts.header.links.about", default: "About"), about_path %>
  </div>
</footer>
