<div class="sub-header">
  <%= fa_icon "arrow-circle-left" %>
  <%= t("links.back", default: "Back") %>
  <%= link_to %Q(<span class="link-expander"></span>).html_safe, forelast_visited_path %>
</div>
